@font-face {
    font-family: grandhotel;
    src: url(../fonts/GrandHotel-Regular.otf);
}

@media screen and (max-width: 340px) {
    nav .pull-right{
        display:block;
        clear:both; !important;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    line-height: 1.42857143;
    background-color: #00BCD4;
    /*background-color: #00BCD4;*/
    margin: auto;
    font-family: Helvetica;
}

h4 {
    font-size: 25px;
    font-family: grandhotel !important;
    color: #ffff1a;

}
h1 {
    font-size: 40px;
    text-align: center;
    font-family: grandhotel !important;
    color: #ffff1a;
}
h2 {
    font-size: 40px;
    margin: 2%;
    font-family: grandhotel !important;
    color: #ffff1a;
}
h3{
    font-size: 30px;
    font-family: grandhotel !important;
    color: #ffff1a;
}

h6, h5{
    font-size: 20px;
    font-family: grandhotel !important;
    color: #ffff1a;
}
p {
    padding: auto;
    margin-bottom: 15px;
    color: white;
    margin-top: 15px;
}
img{
    height: auto;
    width: auto;
}
.vcenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 300px; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.edit_admin{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit_admin a{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
}
/************** Icone reseau + Drapeaux**********/

.drapeaux{
    display: inline-block;
}
.drapeaux img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.drapeaux img:hover{
  width:35px;
}

/************** NAVBAR ***************/

.navbar{
    border: none !important;
    margin-bottom: 0px !important;
}
.nav_custom {
    background-color: #03C9A9;
}

.nav_custom a {
    font-family: grandhotel !important;
    color: #ffff1a !important;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .nav_custom a {
        font-size: 25px;
    }
}

/***************FIN NAVBAR ******************/

/*************** FOOTER *********************/


footer .row{
    text-align: center;
}

footer{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #03C9A9;
    width: auto;
    text-align: center;
    color: white;
}
.icone_reseau{
    margin-right: 5px;
}
footer p{
    margin: 0px;
}
.fa{
    color: white;
}

footer .news_input{
    background-color: #03C9A9;
    color: white;
}
/*************** FIN FOOTER *******************/


/********* HOME PAGE **********/

.carousel_jdd h1 {
    font-size: 60px;
    margin-bottom: 30px;
}
.carousel_jdd figure{
    margin-bottom: 30px;
}

.home_presentation{
    padding-bottom: 50px;
    padding-top: 50px;
}

.vcenter img{
    width: 30%;
    margin: auto;
}
.home_presentation{
    padding-right: 30px;
    padding-left: 30px;
}
.pres_equipe{
    padding-right: 30px;
    padding-left: 30px;
}
.pres_equipe h1, .pres_equipe h2, .pres_equipe h3, .pres_equipe h4, .pres_equipe h5, .pres_equipe h6, .pres_equipe p{
    font-family: grandhotel !important;
    color: white !important;
}
@media screen and (max-width: 990px) {
    .home_presentation {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }
    .home_contenu{
        margin-bottom: 30px;
    }
    .home_equipe .vcenter{
        min-height: 0px;
        min-width: 0px;
        margin-top: 30px;
        text-align: center;
    }
}

/******* ARTISTE *******/

/*.block_artiste{*/
    /*background-color: #00BCD4;*/
/*}*/
figure img{
    max-width: 10%;
    max-height: 260px;
}

.figure_artiste_col{
    min-height: 260px;
}

/*** FIN ARCHIVE **/


.artistepage{
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}

/** FIN NOTRE EQUIPE **/

/** ARTISTE **/
input {
    -webkit-appearance: textfield;
    background-color: white;
    color: black;
}

.editartiste {
    text-align: center;
}


/* WEBKIT CHECKBOX EDIT FORM */
input[type=checkbox]
{
    -webkit-appearance:checkbox;
}
/**** FIN WEBKIT ****/

/****** Map ********/

#map{
    height: 80vh;
    width: 100%;
}
#map h3{
    color: black;
}

/************  ANIMATION IMAGE ********/
figure.snip1239 {
    position: relative;
    margin: 10px 1%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    -webkit-perspective: 50em;
    perspective: 50em;
}
figure.snip1239 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip1239 img {
    opacity: 1;
    max-width: 100%;
    max-height: 260px;
    min-height: 260px;
    vertical-align: top;
    padding: 30px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
figure.snip1239 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: rotateY(90deg) translate(50%, -50%) scale(0.5);
    transform: rotateY(90deg) translate(50%, -50%) scale(0.5);
    z-index: 1;
    opacity: 0;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
figure.snip1239 h3,
figure.snip1239 p {
    line-height: 1.5em;
}
figure.snip1239 h3 {
    font-family: Helvetica !important;
    color: white !important;
}
figure.snip1239 h4{
    font-family: Helvetica !important;
    color: white !important;
}
figure.snip1239 p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 15px;
}
figure.snip1239 .read-more {
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}
figure.snip1239 .read-more:hover {
    background-color: #ffffff;
    color: #000000;
}
figure.snip1239:hover img,
figure.snip1239.hover img {
    -webkit-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    transform: rotateY(-100deg) translateX(50%) scale(0.5);
    opacity: 0;
    /*-webkit-transition-delay: 0;*/
    /*transition-delay: 0;*/
}
figure.snip1239:hover figcaption,
figure.snip1239.hover figcaption {
    -webkit-transform: rotateY(0deg) translate(0, -50%) scale(1);
    transform: rotateY(0deg) translate(0, -50%) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

@media screen and (max-width: 500px) {
    figure.snip1239 img{
        min-height: 215px;
        max-height: 215px;
    }
}

/*************** FIN ANIMATION IMAGE *******************/

/****** commercants ***/

.imagecommercant {
    width: 30%;
    text-align: center;
}
.loginpannels {
    text-align: center;
    margin-bottom: 10px;
}
#iw_container{
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}
#iw_container .iw_title {
    font-size: 16px;
    font-weight: bold;
}
.iw_content {
    padding: 15px;
}
.iw_content p{
    color: black;
}

/******** Calendrier *********/

.calendar #calendar {
    margin-top: 30px;
}
.calendar .modal h6{
    color: black;
    text-align: center;
}
.calendar .modal p{
    color: black;
}
.calendar{
    color: white;
}

/****** Admin ******/
.admin{
    text-align: center;
}
.admin .btn-group{
    margin-top: 30px;
}
.form_login{
    margin-top: 100px;
    margin-bottom: 100px;
}

/******** Newsletter ******/
.flashmsg_newsletter{
    text-align: center;
}

.newsletter_show{
    padding: 5px 5px 5px 5px;
    border: 1px solid navajowhite;
}

/******* FlashBag ******/
.alert-error{
    background-color: red;
}

/****** Modal contact *****/
.contact_modal{
    background-color: #288493;
}