body {
    font-family: "Damion", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: white;
    background-color: #00BCD4;
    margin: auto;
}
h4 {
    text-align: center;
    font-size: 30px;
    color: yellow;

}
h1 {
    font-size: 40px;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 30px;
}

h6, h5{
    font-size: 30px;
}
p {
    padding: auto;
    margin-bottom: 15px;
    font-family: 'Damion', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: black;
    margin-top: 15px;
}
/************** NAVBAR ***************/
header{
    background: #03C9A9;
    height: 48px;
}
header .head_content{
    height: 35px;
    margin: auto;
    background: #03C9A9;
    font-family: "Damion", Helvetica, Arial, sans-serif;
}
/**** TEXT DANS LA NAVBAR ****/
header .menu{
    color: #ffff1a;
    font-size: 30px;
    font-weight: bold;

    margin: 10px 10px 10px 10px;
}
header .lien{
    margin: 20px  ;
}
.flottement-droite{
    float: right;
}
.flottement-gauche{
    float: left;
}
/***************FIN NAVBAR ******************/
.section{
    padding-top: 50px;
}
.artistepage{
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}
img{
    height: auto;
    width: auto;
    margin-right: 2px;
}
.espace{
    margin-top: 25px;
}
/* col-md-6 artistes **/
/** Partie arrière du slide **/
#h {
    font-family: "Damion", Helvetica, Arial, sans-serif;
    height: 450px;
    background-color: #288493;
}
#h h1 {
    color: #ffff1a;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 70px;
}
/**fin col-md-6 artistes */
/* TEXTE PRESENTATION */
/** PLACEMENT+POLICE DES TRITRES AU DESSUS DES 3BLOCKS**/
#g{
    padding-bottom: 70px;
    background: #03C9A9;
    color: #ffff1a;
    height: 450px;
}
#g h4 {
    letter-spacing: 2px;
    color: #ffff1a;

}
/** DISPOSITION DES 3 BLOCKS **/
.presentation{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* FIN TEXTE PRESENTATION */
/** NOTRE EQUIPE **/
.title-equipe {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2px;
    margin-left: -60px;
    color: #ffff1a;
}
.row-equipe{
    height: auto;
    width: 100%;
}
.container {
}
.btn-green {
    background: #03C9A9;
    color: white;
}
.p-equipe{
    margin: 0 0 10px;
}
/** FIN NOTRE EQUIPE **/
/** FOOTER **/
.row{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
    background: #2f2f2f;
    color: white;
    clear: both;
}
#footer{
    width: auto;
    text-align: center;
    background-color: black;
    color: white;
}
/** FIN FOOTER **/
/** PAGE PARTENAIRES **/
.partenaires{
    padding-top: 50px;
}
/** FIN PAGE PARTENAIRES **/
/** ARTISTE **/
input {
    -webkit-appearance: textfield;
    background-color: white;
    color: black;
}
.flotte {
    float: right;
    width: 50%;
    margin-bottom: 30px;
}
.ecritureartiste {
    text-align: center;
}
.editartiste {
    text-align: center;
}
.policeecriture {
    color: white;
}
.policeecriture2 {
    color: white;
    font-size: 35px;
    text-align: center;
}
.policeecrituretitre {
    color: white;
    font-size: 35px;
    text-align: center;
}
.annonceaccueil{
    color: #122b40;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.policeecriture3{
    color: white;
    font-size: 35px;
    text-align: center;
}
.policeecriture4 {
    color: white;
    font-size: 35px;
}

.blockcontenueaccueil{
    text-align: left;
}
.modifieraccueil {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.alginementcentreaccueil {
    text-align: center;
}

/* WEBKIT CHECKBOX EDIT FORM */
input[type=checkbox]
{
    -webkit-appearance:checkbox;
}
/** PARTIE ARTISTE **/

/**.imageartistes {
    max-width: 100%;
    max-height: 187.99px;
}
**/
.grid-item {
    width: 200px;
}
.grid-item--width2 {
    width: 400px;
}
#artiste_creation_year {
    color:black;
}
#artiste_creation_month {
    color:black;
}
#artiste_creation_day {
    color:black;
}

/** FIN PARTIE ARTISTE **/

