@media screen and (max-width: 340px) {
    nav .pull-right{
        display:block;
        clear:both; !important;
    }
}
.title_section{
    background-color: #288493;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    line-height: 1.42857143;
    color: white;
    background-color: #00BCD4;
    margin: auto;
}

h4 {
    text-align: center;
    font-size: 30px;
    color: yellow;

}
h1 {
    font-size: 40px;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 30px;
}

h6, h5{
    font-size: 20px;
}
p {
    padding: auto;
    margin-bottom: 15px;
    color: black;
    margin-top: 15px;
}
img{
    height: auto;
    width: auto;
}
.vcenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 300px; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.edit_admin{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit_admin a{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
}
/************** Icone reseau + Drapeaux**********/

.icone_reseau{
    margin: 10px;
}
.lilili{
    display: inline-block;
}
.d {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.d:hover{
  width:35px;
}

/************** NAVBAR ***************/

.navbar{
    border: none !important;
    margin-bottom: 0px !important;
}
.nav_custom {
    background-color: #03C9A9;
}

.nav_custom a {
    font-family: "Damion", Helvetica, Arial, sans-serif !important;
    color: #ffff1a !important;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .nav_custom a {
        font-size: 25px;
    }
}

/***************FIN NAVBAR ******************/

/*************** FOOTER *********************/


footer .row{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
}

footer{
    background: #2f2f2f;
    width: auto;
    text-align: center;
    color: white;
    font-family: "Damion", Helvetica, Arial, sans-serif !important;
    padding-bottom: 40px;
}

/*************** FIN FOOTER *******************/


/********* HOME PAGE **********/
.carousel_jdd{
    font-family: "Damion", Helvetica, Arial, sans-serif;
    background-color: #288493;
}

.carousel_jdd h1 {
    color: #ffff1a;
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.carousel_jdd figure{
    margin-bottom: 50px;
}

.home_presentation{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #03C9A9;
}

.home_equipe{
    background-color: #288493;

}

.vcenter img{
    width: 100%;
    max-height: 400px;
}
.home_presentation{
    padding-right: 30px;
    padding-left: 30px;
}
.pres_equipe{
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 990px) {
    .home_presentation {
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: center;
    }
    .home_contenu{
        margin-bottom: 30px;
    }
    .home_equipe .vcenter{
        min-height: 0px;
        min-width: 0px;
        margin-top: 30px;
        text-align: center;
    }
}

/******* ARTISTE *******/
.block_artiste{
    background-color: #00BCD4;
}
figure img{
    max-height: 230px;
}
/*** ARCHIVE ***/

.ecriturearchivenomartiste {
    text-align: center;
    color: white;
    font-size: 30px;
}

/*** FIN ARCHIVE **/


.artistepage{
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}

/** FIN NOTRE EQUIPE **/

/** ARTISTE **/
input {
    -webkit-appearance: textfield;
    background-color: white;
    color: black;
}

.ecritureartiste {
    text-align: center;
    color: White;
    margin-left: 111px;
}
.editartiste {
    text-align: center;
}
.policeecriture {
    color: white;
}
.policeecriture2 {
    color: black;
    font-size: 25px;
}
.policeecrituretitre {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.annonceaccueil{
    color: #122b40;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.policeecriture3{
    color: white;
    font-size: 35px;
    text-align: center;
}
.policeecriture4 {
    color: white;
    font-size: 35px;
}

.modifieraccueil {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.alginementcentreaccueil {
    text-align: center;
}

/* WEBKIT CHECKBOX EDIT FORM */
input[type=checkbox]
{
    -webkit-appearance:checkbox;
}
/**** FIN WEBKIT ****/
/** PARTIE ARTISTE **/

.imageartistes {
    max-width: 250px;
    max-height: 187.99px;
}

.grid-item {
    width: 200px;
}
.grid-item--width2 {
    width: 400px;
}
#artiste_creation_year {
    color:black;
}
#artiste_creation_month {
    color:black;
}
#artiste_creation_day {
    color:black;
}

/** FIN PARTIE ARTISTE **/

/****** Map ********/

#map{
    height: 60%;
    width: 100%;
}
#map h3{
    color: black;
}

/************  ANIMATION IMAGE ********/
figure.snip1239 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    /*max-width: 110px;*/
    height: 230px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    background-color: #3E9199;
    font-size: 16px;
    -webkit-perspective: 50em;
    perspective: 50em;
    margin-left: 0;
    margin-top: 50px;
}
figure.snip1239 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip1239 img {
    opacity: 1;
    max-width: 100%;
    vertical-align: top;
    padding: 30px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
figure.snip1239 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: rotateY(90deg) translate(50%, -50%) scale(0.5);
    transform: rotateY(90deg) translate(50%, -50%) scale(0.5);
    z-index: 1;
    opacity: 0;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
figure.snip1239 h3,
figure.snip1239 p {
    line-height: 1.5em;
}
figure.snip1239 h3 {
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}
figure.snip1239 p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 15px;
}
figure.snip1239 .read-more {
    border: 2px solid #ffffff;
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}
figure.snip1239 .read-more:hover {
    background-color: #ffffff;
    color: #000000;
}
figure.snip1239:hover img,
figure.snip1239.hover img {
    -webkit-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    transform: rotateY(-100deg) translateX(50%) scale(0.5);
    opacity: 0;
    /*-webkit-transition-delay: 0;*/
    /*transition-delay: 0;*/
}
figure.snip1239:hover figcaption,
figure.snip1239.hover figcaption {
    -webkit-transform: rotateY(0deg) translate(0, -50%) scale(1);
    transform: rotateY(0deg) translate(0, -50%) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v11/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v11/QoPu455RxV2raYSIFXAMBSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v11/1ImRNPx4870-D9a1EBUdPPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*************** FIN ANIMATION IMAGE *******************/


/**** Test menu ******/
#menu-accordeon {
    padding:0;
    margin:0;
    text-align: center;
    width: 100%;
}
#menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
}
#menu-accordeon li {
    background-color:#729EBF;
    background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    border-radius: 6px;
    margin-bottom:2px;
    box-shadow: 3px 3px 3px #999;
    border:solid 1px #333A40
}
#menu-accordeon li li {
    max-height:0;
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #444;
    box-shadow: none;
    border:none;
    margin:0
}
#menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em;
    font-family: "Damion", Helvetica, Arial, sans-serif !important;

}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
}
#menu-accordeon li:hover {
    background: #729EBF;
}
#menu-accordeon li li:hover {
    background: #DDDDDD;
}
#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu-accordeon li:hover li {
    max-height: 15em;
}
/******* FIN ******/
/****** commercants ***/
.imagecommercant {
    width: 50%;
    float: right;
}
.loginpannels {
    text-align: center;
    margin-bottom: 10px;
}
#events_start {
    color:black;
}
#events_end {
    color:black;
}
#form_presse_0_date {
    color:black;
}
.accederaulien {
    color: white;
}


/******** Calendrier *********/

.calendar #calendar {
    margin-top: 30px;
}
.calendar .modal h6{
    color: black;
    text-align: center;
}
.calendar .modal p{
    color: black;
}


/****** Admin ******/
.admin{
    text-align: center;
}
.admin .btn-group{
    margin-top: 30px;
}
.form_login{
    margin-top: 100px;
    margin-bottom: 100px;
}

/******** Newsletter ******/
.flashmsg_newsletter{
    text-align: center;
}

.newsletter_show{
    padding: 5px 5px 5px 5px;
    border: 1px solid navajowhite;
}

/******* FlashBag ******/
.alert-error{
    background-color: red;
}