@font-face {
    font-family: grandhotel;
    src: url(../fonts/GrandHotel-Regular.otf);
}

@media screen and (max-width: 340px) {
    nav .pull-right{
        display:block;
        clear:both; !important;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    line-height: 1.42857143;
    background-color: #00BCD4;
    margin: auto;
    font-family: Helvetica;
}

h4 {
    font-size: 25px;
    font-family: grandhotel !important;
    color: #ffff1a;
}
h1 {
    font-size: 40px;
    text-align: center;
    font-family: grandhotel !important;
    color: #ffff1a;
}
h2 {
    font-size: 40px;
    margin: 2%;
    font-family: grandhotel !important;
    color: #ffff1a;
}
h3{
    font-size: 30px;
    font-family: grandhotel !important;
    color: #ffff1a;
}

h6, h5{
    font-size: 20px;
    font-family: grandhotel !important;
    color: #ffff1a;
}
p {
    padding: auto;
    margin-bottom: 15px;
    color: white;
    margin-top: 15px;
}
img{
    height: auto;
    width: auto;
}
.vcenter {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 300px; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.edit_admin{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit_admin a{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
}
/************** Icone reseau + Drapeaux**********/

.drapeaux{
    display: inline-block;
}
.drapeaux img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.drapeaux img:hover{
  width:35px;
}

/************** NAVBAR ***************/

.navbar{
    border: none !important;
    margin-bottom: 0px !important;
}
.nav_custom {
    background-color: #03C9A9;
}

.nav_custom a {
    font-family: grandhotel !important;
    color: #ffff1a !important;
    font-size: 30px;
    font-weight: bold;
}
.button_left{
    display: none;
}
.navbar-header{
     margin-right: 0px !important;
     margin-left: 0px !important;
}
.navbar-header h6{
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav_custom a {
        font-size: 25px;
    }
    .button_right {
        margin-right: 20px !important;
    }
    .button_left {
        display: block;
        margin-top: 3px;
        margin-left: 10px;
        width: 40px;
        float: left;
    }
    .navbar-header h6{
        text-align: center;
        display: none;
    }

}

/***************FIN NAVBAR ******************/

/*************** FOOTER *********************/


footer .row{
    text-align: center;
}

footer{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #03C9A9;
    width: auto;
    text-align: center;
    color: white;
}
.icone_reseau{
    margin-right: 5px;
}
footer p{
    margin: 0px;
}
.fa{
    color: white;
}

footer .news_input{
    background-color: #03C9A9;
    color: white;
}
.second_line_footer{
    margin-top: 4%;
}
/*************** FIN FOOTER *******************/


/********* HOME PAGE **********/
.carousel_jdd h1 {
    font-size: 80px;
    margin-bottom: 30px;
}
.carousel_jdd figure{
    margin-bottom: 30px;
}

.home_presentation{
    padding-bottom: 50px;
    padding-top: 50px;
}

.vcenter img{
    width: 85%;
    margin: auto;
}
.home_presentation{
    padding-right: 30px;
    padding-left: 30px;
}
.pres_equipe{
    padding-right: 30px;
    padding-left: 30px;
}
.pres_equipe h1, .pres_equipe h2, .pres_equipe h3, .pres_equipe h4, .pres_equipe h5, .pres_equipe h6, .pres_equipe p{
    font-family: grandhotel !important;
    color: white !important;
}
@media screen and (max-width: 990px) {
    .home_presentation {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .home_contenu{
        margin-bottom: 30px;
    }
    .home_equipe .vcenter{
        min-height: 0px;
        min-width: 0px;
        margin-top: 30px;
        text-align: center;
    }
}

/******* ARTISTE *******/

/*.block_artiste{*/
    /*background-color: #00BCD4;*/
/*}*/
figure img{
    max-width: 17%;
    max-height: 350px;
}

.figure_artiste_col{
    min-height: 260px;
}

/*** FIN ARCHIVE **/


.artistepage{
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}

/** FIN NOTRE EQUIPE **/

/** ARTISTE **/
input {
    -webkit-appearance: textfield;
    background-color: white;
    color: black;
}

.editartiste {
    text-align: center;
}


/* WEBKIT CHECKBOX EDIT FORM */
input[type=checkbox]
{
    -webkit-appearance:checkbox;
}
/**** FIN WEBKIT ****/

/****** Map ********/

#map{
    height: 80vh;
    width: 100%;
}
#map h3{
    color: black;
}

/************  ANIMATION IMAGE ********/
figure.snip1239 {
    position: relative;
    margin: 10px 1%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    -webkit-perspective: 50em;
    perspective: 50em;
}
figure.snip1239 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
figure.snip1239 img {
    opacity: 1;
    max-width: 100%;
    max-height: 260px;
    min-height: 260px;
    vertical-align: top;
    padding: 30px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
figure.snip1239 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: rotateY(90deg) translate(50%, -50%) scale(0.5);
    transform: rotateY(90deg) translate(50%, -50%) scale(0.5);
    z-index: 1;
    opacity: 0;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
figure.snip1239 h3,
figure.snip1239 p {
    line-height: 1.5em;
}
figure.snip1239 h3 {
    font-family: Helvetica !important;
    color: white !important;
}
figure.snip1239 h4{
    font-family: Helvetica !important;
    color: white !important;
}
figure.snip1239 p {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 15px;
}
figure.snip1239 .read-more {
    padding: 0.5em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}
figure.snip1239 .read-more:hover {
    background-color: #ffffff;
    color: #000000;
}
figure.snip1239:hover img,
figure.snip1239.hover img {
    -webkit-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    transform: rotateY(-100deg) translateX(50%) scale(0.5);
    opacity: 0;
    /*-webkit-transition-delay: 0;*/
    /*transition-delay: 0;*/
}
figure.snip1239:hover figcaption,
figure.snip1239.hover figcaption {
    -webkit-transform: rotateY(0deg) translate(0, -50%) scale(1);
    transform: rotateY(0deg) translate(0, -50%) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

@media screen and (max-width: 500px) {
    figure.snip1239 img{
        min-height: 215px;
        max-height: 215px;
    }
}

/*************** FIN ANIMATION IMAGE *******************/

/****** commercants ***/

.imagecommercant {
    width: 30%;
    text-align: center;
}
.loginpannels {
    text-align: center;
    margin-bottom: 10px;
}
.gm-style-iw {
    width: 270px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid #03C9A9;
    border-radius: 2px 2px 10px 10px;
}

.gm-style-iw p, .gm-style-iw a{
    color: #000;
}
#iw-container {
    margin-bottom: 10px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #03C9A9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
    width: 270px;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
    /*height: 115px !important;*/
    width: 100% !important;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.wrong_commercant{
    background-color: indianred;
    text-align: center;
    border: 6px solid red;
    padding: 15px 15px;
    margin-top: 20px;
}
.wrong_commercant h3{
    color: black;
}
/******** Calendrier *********/

.calendar #calendar {
    margin-top: 30px;
}
.calendar .modal h6{
    color: black;
    text-align: center;
}
.calendar .modal p{
    color: black;
}
.calendar h6{
    font-size: 20px;
    font-family: Helvetica !important;
    color: white;
}
.calendar .modal-content{
    background-color: #03C9A9;
}
#imgevent img{
    width: 100%;
    text-align: center;
}

/****** Admin ******/
.admin{
    text-align: center;
}
.admin .btn-group{
    margin-top: 30px;
}
.admin .btn-group a{
    margin: 10px;
}
.form_login{
    margin-top: 100px;
    margin-bottom: 100px;
}

/******** Newsletter ******/
.flashmsg_newsletter{
    text-align: center;
}

.newsletter_show{
    padding: 5px 5px 5px 5px;
    border: 1px solid navajowhite;
}

/******* FlashBag ******/
.alert-error{
    background-color: red;
}

/****** Modal contact *****/
.contact_modal{
    background-color: #288493;
}

/*Select categories*/
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #00BCD4;
    color: white;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.search_button{
    margin-top: 2%;
}
.search_button input{
    background-color: #00BCD4;
    color: white;
}

/*Section à propos */
.membre td{
    width: 20%;
    vertical-align: inherit;
}
.membre img{
    width: 80%;
}

.card_web{
    display: block;
}
.card_responsive{
    display: none;
}

.card_web .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 15px;
}

/* On mouse-over, add a deeper shadow */
.card_web .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    margin: auto;
}

.row_cards{
    margin-top: 15px
}

.block_apropos h3{
    margin-top: 40px;
    margin-bottom: 40px;
}
.info{
    padding-left: 10px;
}
.info span {
    font-size: 1.1em;
    color: white;
}

.block_apropos img{
    width: 100%;
}

/*Confirme modal*/
.modal p{
    color: #0f0f0f;
}

/*Formulaire de contact*/

.form_contact{
    margin: auto;
    margin-bottom: 40px;
    width: 60%;
}

.home_equipe{
    margin-bottom:30px;
}

/*MOBILE RESPONSIVE*/


@media screen and (max-width: 769px){
    .navbar-collapse {
        margin-left: 15px !important;
    }
    .logo_dame{
        display: none;
    }
    .form_contact{
        width: 90%;
    }
    .card_web{
        display: none;
    }
    .card_responsive{
        display: block;
    }
}




.card_responsive .card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;

}

.card_responsive .card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card_responsive .card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.card_responsive .card .card-title.activator {
    cursor: pointer;
}

.card_responsive .card.small, .card.medium, .card.large {
    position: relative;
}

.card_responsive .card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 60%;
    overflow: hidden;
}

.card_responsive .card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
    max-height: 40%;
}

.card_responsive .card.small .card-content, .card.medium .card-content, .card.large .card-content {
    max-height: 100%;
    overflow: hidden;
}

.card_responsive .card.small .card-action, .card.medium .card-action, .card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card_responsive .card.small {
    height: 300px;
}

.card_responsive .card.medium {
    height: 400px;
}

.card_responsive .card.large {
    height: 500px;
}

.card_responsive .card.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card_responsive .card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible;
}

.card_responsive .card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
    height: 100%;
}

.card_responsive .card.horizontal .card-image {
    max-width: 50%;
}

.card_responsive .card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: auto;
}

.card_responsive .card.horizontal .card-stacked {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    justify-content: center;
    margin-left: 15px;
}

.card_responsive .card.horizontal .card-stacked .card-content {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.card_responsive .card.sticky-action .card-action {
    z-index: 2;
}

.card_responsive .card.sticky-action .card-reveal {
    z-index: 1;
    padding-bottom: 64px;
}

.card_responsive .card .card-image {
    position: relative;
}

.card_responsive .card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card_responsive .card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.card_responsive .card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card_responsive .card .card-content p {
    margin: 0;
    color: inherit;
}

.card_responsive .card .card-content .card-title {
    line-height: 48px;
}

.card_responsive .card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card_responsive .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card_responsive .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
}

.card_responsive .card .card-reveal {
    padding: 20px;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.card_responsive .card .card-reveal .card-title {
    cursor: pointer;
    display: block;
}

.card_responsive p{
    margin: 0px 0px;
}

#example p{
    color: black;
}

/*FLASH MESSAGE*/
.flash-notice{
    text-align: center;
    padding: 30px;
    border: 2px orange solid;
    background-color: orange;
    font-size: 18px;
}
