{# app/Resources/views/Emails/registration.html.twig #}
<h1>Message provenant de Jeux de dames</h1>

<h3>Sujet: </h3>
<h6>{{ sujet }}</h6>

<h3>Message: </h3>
<p>{{ message }}</p>

<h3>Nom de l'expediteur</h3>
<p>{{ nom }}</p>

<h3>Mail de l'expéditeur</h3>
<p>{{ email }}</p>