<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Les jeux de dames{% endblock %}</title>

    <!-- Appel CSS Boostrap -->
    <meta name="viewport" content="width=device-width" />

    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <!-- Appel feuille de style -->
    {% block stylesheets %}
        <link rel="stylesheet" href="bundles/cms/css/style.css"/>
        <script type="text/javascript" src="js/main.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="bundles/cms/css/style1.css"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Damion" />
    {% endblock %}
</head>
<header>
    <div class="head_content">
        <a class="flottement-gauche menu" font-family "Damion" href="index.html">Jeux de Dames</a>
        <a class="flottement-droite menu" href="Artistes.html">Artistes</a>
        <a class="flottement-droite menu" href="Commerçants.html">Commerçants</a>
        <a class="flottement-droite menu" href="partenaires.html">Partenaires</a>
    </div>
</header>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>