{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD
    <h1>Commercant creation</h1>

    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <p class="">Adresse</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                {{ form_errors(form.adressee) }}
            </div>

{% endblock %}
