MobileBundle\Entity\MobileList:
    type: entity
    table: null
    repositoryClass: MobileBundle\Repository\MobileListRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        dateDebut:
            type: datetime
            nullable: true
        dateFin:
            type: datetime
            nullable: true

    manyToOne:
        commercants:
          targetEntity: CmsBundle\Entity\Commercant
          joinColumn:
            name: commercant_id
            referencedColumnName: id
        artistess:
          targetEntity: CmsBundle\Entity\Artiste
          joinColumn:
            name: artiste_id
            referencedColumnName: id

    lifecycleCallbacks: {  }
