{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artiste creation </h1>

    {{ form_start(form) }}
    {% for artiste in langue %}
    {{ form_widget(form) }}
    {% endfor %}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('artiste_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
