{% extends 'base.html.twig' %}
{% block body %}
    {% for artiste in artistes %}
        {% if artiste.archive == true %}
            <p>{{ artiste.nom }}</p>
            <img src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}">
        {% endif %}
    {% endfor %}
{% endblock %}
