{% extends 'base.html.twig' %}
{% block body %}
    <div class="nav-collapse collapse">
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
        </ul>
        <div class="pull-right">
            <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                        <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                        <li class="divider"></li>
                        <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% for artiste in artistes %}
        <div class="col-md-3 col-md-offset-1 col-md-3 col-md-offset-1 col-md-3 artistepage">
        {% if artiste.archive == true %}
            <p class="ecritureartiste">{{ artiste.nom }}</p>
                <img class="imageartistes"src="{{ asset('uploads/imgcms/') }}{{ artiste.image }}" >
            <p class="editartiste"><a href="{{ path('artiste_edit', { 'id': artiste.id }) }}">edit</a></p>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}
