{% extends 'base.html.twig' %}

{% block body %}
<!-- ******** NAVBAR ******* -->

<header>
    <div class="head_content">
        <a class="flottement-gauche menu" href="index.html">Jeux de Dames</a>
        <a class="flottement-droite menu" href="Artistes.html">Artistes</a>
        <a class="flottement-droite menu" href="Commerçants.html">Commerçants</a>
        <a class="flottement-droite menu" href="partenaires.html">Partenaires</a>
    </div>
</header>

<!-- Début des animations images artistes -->

    {#{% for artiste in artistes %}#}
        {#<div class="col-md-3">#}
            {#<h3>artise.name</h3>#}
            {#<img src="artiste.image" />#}
        {#</div>#}
    {#{% endfor %}#}
<div class="container">
    <div class="section">
        <div class="col-md-3">
            <h3>Caroline Maniere</h3>
            <img src="{{ asset ('bundles/cms/images/AgnesBleicher.jpeg') }}" />
        </div>
        <div class="col-md-3">
            <h3>Anne Biro</h3>
            <img src="images/AnneBiro.jpeg" />
        </div>
        <div class="col-md-3">
            <h3>Alexandra Kraif</h3>
            <img src="images/AlexandraKraif.png" />
        </div>
        <div class="col-md-3">
            <h3>Claire Nicolle</h3>
            <img src="images/ClaireNicolle.jpeg" />
        </div>
        <div class="col-md-3">
            <h3>Anne Isabelle Roubai</h3>
            <img src="images/AnneIsabelleRoubai.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Corine Joachim</h3>
            <img src="images/CorineJoachim.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Brigitte Delval</h3>
            <img src="images/BrigitteDelval.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Carina Barone</h3>
            <img src="images/CarinaBarone.png" />
        </div>
        <div class="col-md-3  espace">
            <h3>Nathalie Belpaume</h3>
            <img src="images/NathalieBelpaume.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Chantal Bir</h3>
            <img src="images/ChantalBir.png" />
        </div>
        <div class="col-md-3 espace">
            <h3>Berengere Noyau</h3>
            <img src="images/BerengereNoyau.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Anne Biro</h3>
            <img src="images/AnneBiro.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Aurore Fouillou</h3>
            <img src="images/AuroreFouillou.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Alya Fobis</h3>
            <img src="images/AlyaFobis.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Anne Bour</h3>
            <img src="images/AnneBour.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Celine Huteau</h3>
            <img src="images/CelineHuteau.png" />
        </div>
        <div class="col-md-3 espace">
            <h3>Catherine Roze</h3>
            <img src="images/CatherineRoze.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Catherine Salmon</h3>
            <img src="images/CatherineSalmon.jpeg" />
        </div>
        <div class="col-md-3 espace">
            <h3>Corine Allard</h3>
            <img src="images/CorineAllard.jpeg" />
        </div>
    </div>
</div>

<!-- ******** RESEAUX ******** -->


<div id="footer">
    <div class="row">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 reseaux">
                <h6>Vous pouvez nous retrouver</h6>
                <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
                <button class="btn-green">Cliquez ici</button>
            </div>
        </div>

        <!-- ******** FOOTER ******** -->

        <div class="row">
            <div class="col-md-8 col-md-offset-2 reseaux">
                <h5>Jeux de Dames</h5>
                <p class="txt-fin">
                    <a href="#"><i class="ion-social-twitter"></i></a>
                    <a href="#"><i class="ion-social-instagram"></i></a>
                    <a href="#"><i class="ion-social-dribbble"></i></a>
                </p>
            </div>
        </div>
    </div>
</div><!--/row -->


{% endblock %}