{% extends 'base.html.twig' %}

{% block body %}
    
<!-- ******** RESEAUX ******** -->


<div class="row">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 reseaux">
            <h6>Vous pouvez nous retrouver</h6>
            <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
            <button class="btn-green">Cliquez ici</button>
        </div>
    </div>


{% endblock %}