{% extends 'base.html.twig' %}

{% block body %}

    <div id="map"></div>

<!-- ******** RESEAUX ******** -->

    <div class="row">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 reseaux">
                <h6>Vous pouvez nous retrouver</h6>
                <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
                <button class="btn-green">Cliquez ici</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        var geocoder;
        var map;
        function initMap() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
            alert('plop');
            codeAddress();
        }

       // function initialize() {

        function codeAddress() {
            {% for commercant in commercants %}
                var address = '{{ commercant['adresse'] }}, {{ commercant['code'] }}, {{ commercant['ville'] }}';
                alert('plip');
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        alert('plaapp');
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            {% endfor %}
        }


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa232Ch8q6OuI0qAkNV4s36dSJKSCaswc&callback=initMap" async defer></script>

{% endblock %}
