{% extends 'base.html.twig' %}

{% block body %}
<div class="partenaires">

    {% for partenaire in partenaires %}
        <div class="col-md-3 col-md-offset-1 col-md-3 col-md-offset-1 col-md-3 artistepage">
            <img src="{{ asset('uploads/imgcms/') }}{{ partenaire.image }}" >
            <p class="editartiste"><a href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">Editer</a></p>
        </div>
    {% endfor %}
</div>
    <div class="row">
        <a href="{{ path('partenaire_new') }}">Créer une nouvelle entrée.</a>
    </div>
{% endblock %}