{% extends 'base.html.twig' %}

{% block body %}
<div class="partenaires">
    <div class="col-md-3">
        <img class="droite" src="{{ asset ('bundles/cms/images/partenaires/aiglenoir.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="{{ asset ('bundles/cms/images/partenaires/aiconcept.jpeg') }}" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/alizevoyage.gif" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/axa.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/balouzat.jpeg" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/boudoirdejeanne.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/cario.jpeg" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/dessange.jpeg" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/equation.jpeg" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/paullamotte.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/fb.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/hotelfontai.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/lud.jpeg" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/nounproject.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/tiamo.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/torrefaction.png" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="droite" src="images/partenaires/victoria.jpeg" alt="jeuxdedames">
    </div>
    <div class="col-md-3">
        <img class="gauche" src="images/partenaires/thomascook.jpeg" alt="jeuxdedames">
    </div>
</div>

<!-- ******** RESEAUX ******** -->


<div class="row">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 reseaux">
            <h6>Vous pouvez nous retrouver</h6>
            <h2 class="h2">Sur nos différents<br/>réseaux sociaux</h2>
            <button class="btn-green">Cliquez ici</button>
        </div>
    </div>

{% endblock %}