{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .row_video{
            text-align: center;
        }
        .row_video h5{
            height:70px;
        }

        iframe{
            width:300px !important;
            height: 200px !important;
        }
    </style>
    <div class="container-fluid block_artiste">
        <div class="row">
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <div class="edit_admin">
                    <a class="btn btn-default edit_admin" href="{{ path('presse_new') }}">Ajouter une nouvelle presse</a>
                    <a class="btn btn-default edit_admin" href="{{ path('presse_index') }}">Administrer la presse</a>
                </div>
            {% endif %}
        </div>
        <div class="title_section text-center">
            <a class="selectChoice choiceLink" href="" id="videoContent">Videos</a>
            <a class="selectChoice choiceLink" href="" id="presseContent">Presse</a>
        </div>
        <div id="result">

        </div>

    </div>

    {#   MODAL   #}
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet artiste ?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn" id="confirmModalNo" name="non" value="Non">
                    <input type="button" class="btn" id="confirmModalYes" name="oui" value="Oui">
                </div>
            </div>
        </div>
    </div>

    {#   MODAL   #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });
        $(document).ready(function () {
            var theHREF;
            $(".confirmModalLink").click(function(e) {
                e.preventDefault();
                theHREF = $(this).attr("href");
                $("#confirmModal").modal("show");
            });
            $("#confirmModalNo").click(function(e) {
                $("#confirmModal").modal("hide");
            });
            $("#confirmModalYes").click(function(e) {
                window.location.href = theHREF;
            });
            var select = null;
            getPresse(select);
        });


        function getPresse(select){
            $.ajax({
                type: "POST",
                data : { type: select },
                dataType: 'json',
                url: '{{ path('user_presse') }}',
                success: function(data)
                {
                    $("#result").html(data.content);
                    $(".selectChoice").click(function(e){
                        e.preventDefault();
                        getPresse($(this).attr('id'));
                    });
                }
            });
        }
    </script>
{% endblock %}