{% for accueil in accueils %}
    <a href="{{ path('accueil_edit', { 'id': accueil.id }) }}">Edit accueil</a>
{% endfor %}

{% for artiste in artistes %}
    <a href="{{ path ('artiste_edit' , { 'id' : artiste.id}) }}">Edit artiste</a>
{% endfor %}

{% for commercant in commercants %}
    <a href="{{ path ('commercant_edit' , { 'id' : commercant.id}) }}">Edit commercant</a>
{% endfor %}