artiste_new:
    path:     /new
    defaults: { _controller: "CmsBundle:Artiste:new" }
    methods:  [GET, POST]

artiste_edit:
    path:     /{id}/edit
    defaults: { _controller: "CmsBundle:Artiste:edit" }
    methods:  [GET, POST]

artiste_delete:
    path:     /{id}/delete
    defaults: { _controller: "CmsBundle:Artiste:delete" }
    requirements:
        id:  \d+